@font-face {
    font-family: Gemunu Libre;
    src: url("./fonts/Gemunu-Libre/GemunuLibre-Light.ttf") format("TrueType");
}

*{
    box-sizing: border-box;
}

.general-font-options {
    font-family: "Gemunu Libre", monospace;
    font-size: 19px;
}

.fw-bold {
    font-weight: bold;
}

.section-indent {
    padding-bottom: 10px;
}

.logo {
    width: 900px;
    margin-left: 50px;
}

.cv-background {
    margin-left: 50px;
    padding: 30px 20px 0px 30px;
    width: 900px;
    border: solid grey;
    background-image: url("./pictures/background_2.jpg");
}

.cv-head {
    position: absolute;
    top: 242px;
    left: 300px;
}

.rm-underline {
    text-decoration: none;
}

#slogan {
    position: absolute;
    top: 430px;
    left: 300px;
    font-size: 25px;
    border-bottom: solid;
    width: 635px;
}

.heading {
    background-color: black;
    color: azure;
    padding-left: 5px;
}

.cv-info {
    padding: 0px 10px 10px 50px;
    text-align: justify;
}

#motto-bottom {
    margin: 2px 0px 0px 50px;
    text-align: center;
    line-height: 60px;
    width: 900px;
    height: 60px;
    background-color: black;
    color: azure;
}

